<div style="background-color: #C0C0C0; text-align: center; width: 1380px;">
  <h1 class="titulo-h1" >ESTACIONAMENTO WEB </h1>
</div>

<div class="container" style="margin-left:8%; margin-top: 2%">
  <hr />
  <div class="row justify-content-center">
      <div class="col-md-4 text-center" style="border-radius:20px; background-color: #C0C0C0;">
        <form (ngSubmit)="onSubmit()">
              <div class="form-group" style="align-content: center; width: 70%; margin-top: 10%; margin-left: 15%">
                  <input type="email" class="form-control" id="email" name="email"  [(ngModel)]="email" required placeholder="E-MAIL" style="margin-top: 2%;">
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required placeholder="SENHA" style="margin-top: 2%;">
              </div>
              <hr />
              <div>
                  <input type="submit" value="ENTRAR" class="btn btn-success btn-lg" style="background-color:blue; border-radius:20px; margin: 5%">
              </div>
          </form>            
      </div>        
  </div>
  <div>
      <a class="btn btn-success btn-group-lg" style="margin-top: 2%; margin-left:42%" asp-action="nova-senha">ESQUECI A SENHA</a>
  </div>
  <hr />
</div>

<div class="container" style="margin-left:8%; margin-top: 2%;">
  <img src="assets/img/estacionamento-img-capa-2.jpeg" alt="Logo" style="width: 100%; height: 8cm;">  
</div>



